[submodule "auth"]
	path = auth
	url = git@github.com:yannyy/cso-auth.git
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:yannyy/cso-api-gateway.git
[submodule "k8s"]
	path = k8s
	url = git@github.com:yannyy/cso-k8s.git
[submodule "common"]
	path = common
	url = git@github.com:yannyy/cso-common.git
